<div class="jumbotron">
  <h1>Hello!</h1>

  <p class="lead">Rails-powered project was created successfully.</p>
  <p><%= link_to "Get documentation", "http://guides.rubyonrails.org", target: "_blank", class: "btn btn-lg btn-success" %></p>
</div>
