<% content_for(:title) do %>
  Blog &middot;
<% end %>

<% content_for(:main_columns) do %>
  <div class="row">
   <div class="col-md-9">
     <div class="blog">
       <%= yield %>
     </div>
   </div>

   <div class="col-md-3">
     <div class="portlet">
       <h3>Browse</h3>

       <ul>
         <li><%= link_to "Archive", archive_posts_path %></li>
       <ul>
     </div>

     <% if !post_tags.empty? %>
       <div class="portlet">
         <h3>Tags</h3>

         <ul>
           <% post_tags.each do |post_tag| %>
            <li><%= link_to post_tag.name, posts_by_tag_path(post_tag) %></a></li>
          <% end %>
         <ul>
       </div>
     <% end %>
   </div>
 </div>
<% end %>

<%= render template: 'layouts/application' %>
