<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
      div, p, span, strong, b, em, i, a, li, td {
        -webkit-text-size-adjust: none;
      }
    </style>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
